<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zys.dao.UserDao">
    <resultMap id="BaseResultMap" type="com.zys.bean.UserBean">
        <id column="id" property="Id" jdbcType="INTEGER"/>
        <result column="name" property="Name" jdbcType="VARCHAR"/>
        <result column="age" property="Age" jdbcType="VARCHAR"/>
        <result column="sex" property="Sex" jdbcType="VARCHAR"/>
    </resultMap>
    <select id="selectAll" resultMap="BaseResultMap">
        select * from testZys where id=#{id}
    </select>

</mapper>
